/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "partiels/menu";
@import "partiels/modifier";
@import "partiels/table";


*{
    box-sizing: border-box;
    //overflow: hidden;
}



.container{
  display: flex;
  justify-content: center;
  align-items: center;
}



.bleu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #1B2265;
}


.blanc{
  display: flex;
  background-color: white;
  height: 500px;
  width: 800px;
}

body{
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#connect{
  margin-left: 52px;
  margin-top: 47px;
  color: #1B2265;
}

#titre {
    color: #1B2265;
    margin-left: 55px;
    margin-top: 20px;
}

.inpute{
  border: 2px solid #f0f0f0;
    border-radius: 4px;
    margin-top: 20px;
    display: block;
    width: 326px;
    padding: 13px;
    font-size: 14px;
    margin-left: 54px;
}



.btn {
  margin-top: 8px;
  background-color: #1B2265;
  color: white;
}

.ajouter{
  background-color: #1B2265;
  color: white;
  border: none;
  width: 100px;
  height: 38px;
  border-radius: 5px;
  margin-left: 44%;
}

.trait {
  border: 1px solid #1B2265;
  margin-top: 23px;
  margin-left: 61px;
}


.compte{
    margin-left: 63px;
    margin-top: 30px;
    color: #1B2265;
}


.forme{
  padding: 200px;
  margin-top: -169px;

}


.logo{
height: 200px;
}





 
  ////////////////////////////////Erreur//////////////////////////////

  .error{
    color: red;
    font-size: 50px;
    margin-top: 20px;
}

  ////////////////////////////////////////Ajout///////////////////
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 85%;

   
}



//////////////////////////////////////////////////////



:root{
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

*{
    box-sizing: border-box;
    overflow: hidden;
}



.container2{
  margin-left: auto;
  margin-right: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 70%;
    margin-top: 5%;
}

h2{
    text-align: center;
    margin: 0 0 20px;
}

.form{
    padding: 16px 40px;

}

.form-controle{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-controle label{
    color: #777;
    display: block;
    margin-bottom: 5px;
    margin-left: 21px;

}

.form-controle input{
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 300px;
  padding: 13px;
  font-size: 14px;
  margin-left: 21px;
}

.form-controle input:focus{
    outline: 0;
    border-color: #777;
}

.form-controle.success input{
    border-color: var(--success-color);
}

.form-controle.erroor input{
    border-color: var(--error-color);
}

.form-controle small{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-controle.erroor small{
    visibility: visible;
}

.form button{
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 50%;
}




/////////////////////////////////filtre///////////////////@at-root

.select-style {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width:15%;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  background: #fff;
  position: relative;
}
.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-style:after {
  top: 50%;
  left: 85%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}
.select-style select:focus {
  outline: none;
}

.filtres{
  display: flex;
  margin-top: 30px;
  margin-left: 60px;
}


.labele-filtre{
  margin-top: 6px;
  margin-right: 8px;
}
  
////////////////////////////////button/////////////////////////@at-root

.ok{
  background-color: #1B2265;
  color: white;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  margin-left: 38%;
  cursor: pointer;
}

.etu{
  background-color: #1B2265;
  color: white;
  height: 30px;
}
.etu h2{
  align-items: center;

}

  
  ///////////////////////////////ajout chambre///////////////@at-root

  .selecte-style {
    width: 620px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
    height: 40px;
    margin-left: 6px;
    color: #7c7979;
    border: 2px solid #f0f0f0;
    padding: 9px;
   
  }


  .selecte-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }


  .selecte-style:after {
    top: 50%;
    left: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-width: 5px;
    margin-top: -2px;
    z-index: 100;
  }
  .selecte-style select:focus {
    outline: 0;
  }
  
  ///////////////////////////////////////telephone et boure///////////@at-root
  .form-controles input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 620px;
    padding: 13px;
    font-size: 14px;
    margin-left: 6px;
  }



  .form-controles{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-controles label{
    color: #777;
    display: block;
    margin-bottom: 5px;
    margin-left: 21px;

}



.form-controles input:focus{
    outline: 0;
    border-color: #777;
}

.form-controles.success input{
    border-color: var(--success-color);
}

.form-controles.erroor input{
    border-color: var(--error-color);
}

.form-controles small{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-controles.erroor small{
    visibility: visible;
}

  ///////////////////////@at-root


 
      