a.modifier:link {
    display:block;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #1B2265;
    border-radius: 2px;
 
}

a.archiver:link {
    margin-top: 15px;
    display:block;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: green;
    border-radius: 2px;

}